@model WebApplication1.Models.Customer
@using WebApplication1.Utils;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ok"] != null)
{
    <script type="text/javascript">
            window.onclick = function () {
                $("#lblError").html('@Html.Raw(TempData["ok"])');
                $("#MyPopup").modal("show");
            };
    </script>
}

<!--Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Customer Login</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Customers/loginuser">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Content/Event/img/login.jpg" alt="">
                    <div class="hover">
                        <h1 style="color:white">Visit our website!!</h1>
                        <p>Enter details and start a journey with us.</p>
                        <a class="primary-btn" href="/Customers/loginuser">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">

                    <h1><b>Sign Up</b></h1>
                    <label style="color:darkred;font-size:20px"><b>@TempData["err"]</b></label>
                    @using (Html.BeginForm(Html.BeginForm("Create", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" })))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })<div class="col-md-10 form-group">

                            <img id="preview" src="~/Content/Event/img/usericon1.png" width="100" height="100" style="background-color:white;border-radius:50%;border:none">
                            <input type="file" name="pic" id="file" required oninput="preview.src = window.URL.createObjectURL(this.files[0])" style="color: transparent; " />

                        </div>
                        <div class="col-md-10 form-group">
                            <input type="text" class="form-control" id="name" name="Customer_Name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div><div class="col-md-10 form-group">
                            <input type="email" class="form-control" id="email" name="Customer_Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        </div>
                        <div class="col-md-10 form-group">
                            <input type="password" class="form-control" id="password" name="Customer_Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-10 form-group">
                            <input type="tel" name="Customer_Contact" id="contact" placeholder="03*********" onkeypress="return onlyNumberKey(evt)" required class="form-control" />
                        </div>
                        <div class="col-md-10 form-group">
                            <button type="submit" value="submit" onclick="return ValidateInput()" class="primary-btn">Create</button><br />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Login Box Area =================-->
<script>
    function ValidateInput() {
        var pattern = /^03[\d]{9}$/;
        var number = document.getElementById("contact").value;
        if (!pattern.test(number))
            ErrorMsg('Please Enter a 11 digit valid Number!') 
        var passswordpattern = /(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/;
        var password = document.getElementById("password").value;
        if (!passswordpattern.test(password))
            ErrorMsg('Please Enter a Password that contains uper and Lower Case Alphanumeric and Special Characters!');
        var name = document.getElementById("name").value.length;
        var emailpattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        var email = document.getElementById("email").value;
        if (!emailpattern.test(email))
            ErrorMsg('Please Enter a valid Email Address!');
        if (!(name < 15 && name > 0))
            ErrorMsg('Please Enter a name between 0 to 15 letters!');
        if (document.getElementById("file").value == "")
            ErrorMsg('Please Upload an Image!');
        return true;
    }
    function ErrorMsg(msg) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: msg,
        });
        return false;
    }
    function onlyNumberKey(evt) {
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span id="lblError"></span>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="Close" class="btn primary-btn" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>



