@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="login_form_inner">

                    <h2>Enter details and get your password on your Email.</h2>
                    <br />
                    <br />
                    
                    <form class="row login_form" action="/Customers/Forgotpassword" method="post">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="Customer_Name" placeholder="Enter Your Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">

                        </div>
                        <div class="col-md-12 form-group">

                            <input type="email" class="form-control" id="name" name="Customer_Email" placeholder="Enter Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" />

                        </div>
                        <div class="col-md-12 form-group">
                            <label><b style="color:red;font-size:15px">@TempData["send"]</b></label>
                        </div>
                        <div class="col-md-12 form-group">

                            <input type="submit" value="Send Request" class="primary-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>